/* Base color palette for light theme */
.root {
    -fx-base: #f5f5f5ed; /* Very light gray, primary background */
    -fx-text-base-color: #2a2a2a; /* Dark gray, primary text color */
    -fx-accent: #0078d7; /* Light blue, accent color */
    -fx-focus-color: #c7e0f4; /* Soft blue for focus */
}

/* Button styling */
.button {
    -fx-background-color: -fx-accent, -fx-base;
    -fx-background-insets: 0, 1;
    -fx-text-fill: -fx-text-base-color;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: derive(-fx-accent, 20%);
}

.button:pressed {
    -fx-background-color: derive(-fx-accent, -20%);
}

/* CodeArea styling for light theme */
.code-area {
    -fx-background-color: white;
    -fx-padding: 10px;
    -fx-control-inner-background: #2b2d2e; /* Dark gray background to match the theme */
}

.line-number {
    -fx-padding: 0 15px 0 0;
}

.console {
    -fx-control-inner-background: -fx-base;
    -fx-text-fill: black;
}

/* Label styling */
.label {
    -fx-text-fill: -fx-text-base-color;
}

/* Text Field styling */
.text-field {
    -fx-background-color: -fx-base;
    -fx-text-fill: -fx-text-base-color;
    -fx-prompt-text-fill: derive(-fx-text-base-color, 40%);
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
}

StackPane {
    -fx-background-color: white;
    -fx-padding: 10px;
    -fx-background-radius: 5px;
}

.text-field:focused {
    -fx-background-color: derive(-fx-base, 10%);
}

/* Container elements like panels, scenes */
.pane, .anchor-pane, .vbox, .hbox {
    -fx-background-color: -fx-base;
}

/* Scroll Pane */
.scroll-pane {
    -fx-background-color: -fx-base;
    -fx-border-color: transparent;
}

/* Tables */
.table-view {
    -fx-base: derive(-fx-base, 10%); /* Lighten the base color */
    -fx-control-inner-background: -fx-base;
    -fx-background-color: -fx-base;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 0.5em;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-font-weight: bold;
}

.table-row-cell:filled:selected, .table-row-cell:filled:selected .text {
    -fx-background-color: -fx-accent;
    -fx-text-fill: white;
}

/* Tabs */
.tab-pane {
    -fx-tab-min-height: 30px;
    -fx-tab-max-height: 30px;
}

.tab {
    -fx-background-color: derive(-fx-base, 20%);
    -fx-text-fill: -fx-text-base-color;
}

.tab:selected {
    -fx-background-color: -fx-accent;
    -fx-text-fill: white;
}

/* Tooltips */
.tooltip {
    -fx-background-color: derive(-fx-base, 20%); /* Lighten the base color */
    -fx-text-fill: -fx-text-base-color;
    -fx-font-size: 0.9em;
}
